<mat-toolbar color="primary"> 

   <mat-toolbar-row>
    	<svg class="icon">
   <use xlink:href="/assets/img/sprite.svg#messages"></use> 
</svg>
  <span class="title">
    <h1>DevPub</h1>
    <h3>Рассказы разработчика</h3>
  </span> 
<div class="ng-autocomplete">

    <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Поиск" (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate" [isLoading]="true">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
    </ng-template>

</div>
  <span class="flexExpand"></span>
    <div class="menu-toolbar">
      <a mat-button [routerLink] ="'/'"  class="menu-button"> Главная </a>
      <a mat-button [routerLink]="'/calendar'"  class="menu-button"> Календарь </a>
      <button mat-button [routerLink]="'/login'"   class="menu-button"> 
      Войти 
        <svg class="icon-account">      	
   			<use xlink:href="/assets/img/sprite.svg#account"></use> 
		</svg>      
  	  </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>




<router-outlet></router-outlet>

